* {
	margin: 0;
}

.app {
	min-height: 100vh;
	background: #ddd;
}

.flexed {
	display: flex;
	justify-content: center;
	align-items: center;
}

.form__wrapper,
.profile__wrapper {
	background: #fff;
	border-radius: 15px;
}

.form__input {
	display: block;
	padding: 5px;
	margin-top: 20px;
}

.form__input:focus {
	outline-width: 0;
}

.form__error {
	color: red;
	font-size: 12px;
}

.flex-btw {
	display: flex;
	justify-content: space-between;
}

/* .user__detail {
	margin-left: auto !important;
} */
